GITHUB_CLIENT_ID=Ov23liZGVqwVlG8idRgt
GITHUB_CLIENT_SECRET=3012db0a8a3e81d2209f4814b6170f2d2aa667c6
FRONTEND_BASE_URL=http://localhost:5173
BACKEND_ACCESS_TOKEN_SECRET=dev-secret-change-me
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/resume_matcher
